# Ignore everything
*

# But not these files...
!.gitignore
!*.R
!*.Rmd
!*.py
!*.pynb
!*.Rproj
!*.md
!*.ipynb
!*.pdf

# ...even if they are in subdirectories
!*/

#...but ignore these subfolders
**/bak/
**/private/
.Rproj.user